.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  background-color: aqua;
}

.cardWrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(calc(-100% * var(--current-index, 0)));
  width: 100%;
}

.card {
  flex: 0 0 100%;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.card.active {
  opacity: 0;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  padding: 0.5rem 1rem;
  border-radius: 50%;
}

.arrowLeft {
  left: 10px;
}

.arrowRight {
  right: 10px;
}

@media (max-width: 768px) {
  .arrowLeft,
  .arrowRight {
    font-size: 1.5rem;
    padding: 0.3rem 0.7rem;
  }

  .cardWrapper {
    flex-direction: column;
  }
}
