.proyectsContainerMain{
    width: 100%;
    height: auto;
    background-color: transparent;
}
.proyectsContainerMain > .proyectsTitleContainer{
    height: 80px;
    margin: 0;
    padding: 0px 0px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.proyectsTitleContainer > .proyectsTitle {
    padding: 0px 0;
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}
.proyectsContainerMain > .proyectsSectionContainer{
    background-color: transparent;
    display: flex;
    justify-content: center;

}
@media (max-width: 425px) {
    .proyectsContainerMain > .proyectsTitleContainer{
        height: 40px;
        margin: 0;
        padding: 0px 0px;
        

    }
    .proyectsTitleContainer > .proyectsTitle {
        padding: 10px 0;
        margin: 0;
        background-color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1rem;
        background-color: white;
    }
}